/* 
    Document   : cstyle
    Created on : Sep 9, 2013, 2:16:14 PM
    Author     : aliabbas
    Description:
        Purpose of the stylesheet follows.

 Custom styles
*/

ul#top_navigation li a.active {
    color:#be1d2c;
    text-decoration: underline;
}