/* 
    Document   : cstyle
    Created on : Sep 9, 2013, 2:16:14 PM
    Author     : aliabbas
    Description:
        Purpose of the stylesheet follows.

 Custom styles
*/

ul#top_navigation li a.active {
    color:#be1d2c;
    text-decoration: underline;
}

.header_content ul li a:hover{
    font-size: 32px;
}
.header_content ul li a:hover img{
    height:20px;width:25px
}

.header_content ul li a.hover {
    font-size: 32px !important;
}
.header_content ul li a.hover img {
    height:20px;width:25px
}
.send_btn {
    cursor: pointer;
}
.send_btn:hover {
    color:white;
    background: #414740;
}
.contact_us input[type="text"].error {
    border-color: red;
}
.contact_us textArea.error {
    border-color: red;
}
span.staric {
    color: red;
    font-size: 14px;
}


.contact_us img {

    margin-top: 8px;

}
.contact_us a {
    clear:both;
    color: #000000;
    font-family: Myraid Pro;
    font-size: 14px;
    margin-left: 12px;
}

.flash-message {
     font-family: Myraid Pro;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: green;
}
.error-message {
     font-family: Myraid Pro;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: red;
}
.second-table {
    margin-top:40px;
}

section div table td{
    z-index: 10020 !important;
}
.contact_us input[type="text"] {
      font-family: Myraid Pro;
}
.contact_us textArea {
      font-family: Myraid Pro;
}