
ul.columns li a { font-family:Arial, Helvetica, sans-serif !important; }

h1 { font-weight:bold; font-family:Verdana, Geneva, sans-serif !important; }

h2 { font-weight:bold; font-family:Verdana, Geneva, sans-serif !important; }

h3 { font-weight:bold; font-family:Verdana, Geneva, sans-serif !important; }

h4 { font-weight:bold; font-family:Verdana, Geneva, sans-serif !important; }

h5 { font-weight:bold; font-family:Verdana, Geneva, sans-serif !important; }

h6 { font-weight:bold; font-family:Verdana, Geneva, sans-serif !important; }

p { font-family:Arial, Helvetica, sans-serif !important; }

.science_part p { padding-top:10px !important; }