<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Dhuha International School Systems</title>
        <link href="css/style.css" rel="stylesheet" />
        <link href="css/gallery.css" rel="stylesheet" />
        <meta charset="utf-8">

            <!-- Use the .htaccess and remove these lines to avoid edge case issues.
                             More info: h5bp.com/b/378 -->
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

                <title>Gumby - A Flexible, Responsive CSS Framework - Powered by SASS</title>
                <meta name="description" content="" />
                <meta name="keywords" content="" />
                <meta name="author" content="humans.txt">

                    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

                    <!-- Facebook Metadata /-->
                    <meta property="fb:page_id" content="" />
                    <meta property="og:image" content="" />
                    <meta property="og:description" content=""/>
                    <meta property="og:title" content=""/>

                    <!-- Google+ Metadata /-->
                    <meta itemprop="name" content="">
                        <meta itemprop="description" content="">
                            <meta itemprop="image" content="">

                                <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

                                    <!-- We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
                                                     However, there is a blank style.css in the css directory should you prefer -->
                                    <link rel="stylesheet" href="css/gumby.css">
                                        <!-- <link rel="stylesheet" href="css/gumby_style.css"> -->

                                        <script src="js/libs/modernizr-2.6.2.min.js"></script>

                                        </head>

                                        <body>
                                            <div id="wraper">
                                                <header>
                                                    <div id="header">
                                                        <div class="row">
                                                            <div class="navbar row" id="nav2">
                                                                <a class="toggle" gumby-trigger="#nav2 > ul" href="#"><i class="icon-menu"></i></a>
                                                                <h1 class="two columns logo">
                                                                    <div class="logo">
                                                                        <a href="#"><img src="images/logo_03.jpg" /></a>
                                                                    </div>
                                                                </h1>
                                                                <ul class="ten columns">
                                                                    <li><a href="#">Dhuha</a></li>
                                                                    <li><a href="#">Facilities</a></li>
                                                                    <li><a href="#">Curriculum</a></li>
                                                                    <li><a href="#">Teaching System</a></li>
                                                                    <li><a href="#">Fee Structure</a></li>
                                                                    <li><a href="#">Rules &amp; Regulations</a></li>
                                                                    <li><a href="#">Administration</a></li>
                                                                    <li><a href="#">Gallery</a></li>
                                                                    <li><a href="#">Contact Us</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="filter">
                                                        <div class="row">
                                                            <div class="twelve columns">
                                                                <h1>Filter</h1>
                                                                <ul class="filter_list jcarousel-skin-tango">
                                                                    <li><a href="#">All</a></li>
                                                                    <li><a href="#">Qirat Competition</a></li>
                                                                    <li><a href="#">Sports Week</a></li>
                                                                    <li><a href="#">English Debates</a></li>
                                                                    <li><a href="#">Urdu Debates</a></li>
                                                                    <li><a href="#">Clay Competition</a></li>
                                                                    <li><a href="#">Colour Days</a></li>
                                                                    <li><a href="#">Farewell Party</a></li>
                                                                    <li><a href="#">Art Exhibition</a></li>
                                                                    <li><a href="#">Science Exhibition</a></li>
                                                                    <li><a href="#">Annual Quiz Competition</a></li>
                                                                    <li><a href="#">Hand Writing Competition</a></li>
                                                                    <li><a href="#">Cooking &amp; food competition</a></li>
                                                                    <li><a href="#">Essay writing Competition</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="twelve columns">
                                                            <div class="artlab_part">
                                                                <div class="art_images">
                                                                    <ul>
                                                                        <li class="three columns"><a href="#"><img src="images/art_image_1_03.png"></a></li>
                                                                        <li class="three columns"><a href="#"><img src="images/art_img_2_03.png"></a></li>
                                                                        <li class="three columns"><a href="#"><img src="images/art_img_3_03.png"></a></li>
                                                                        <li class="three columns"><a href="#"><img src="images/art_image_1_03.png"></a></li>
                                                                    </ul>
                                                                    <ul>
                                                                        <li class="three columns"><a href="#"><img src="images/art_image_1_03.png"></a></li>
                                                                        <li class="three columns"><a href="#"><img src="images/art_img_2_03.png"></a></li>
                                                                        <li class="three columns"><a href="#"><img src="images/art_img_3_03.png"></a></li>
                                                                        <li class="three columns"><a href="#"><img src="images/art_image_1_03.png"></a></li>
                                                                    </ul>
                                                                    <ul>
                                                                        <li class="three columns"><a href="#"><img src="images/art_image_1_03.png"></a></li>
                                                                        <li class="three columns"><a href="#"><img src="images/art_img_2_03.png"></a></li>
                                                                        <li class="three columns"><a href="#"><img src="images/art_img_3_03.png"></a></li>
                                                                        <li class="three columns"><a href="#"><img src="images/art_image_1_03.png"></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            </header>
                                            <section id="content">
                                                <article>
                                                    <div class="row">
                                                        <div class="twelve columns">
                                                            <div class="social_media">
                                                                <a href="#"><img src="images/facebook_img_03.jpg" /></a>
                                                                <a href="#"><img src="images/camera_img_03.jpg" /></a>
                                                                <a href="#"><img src="images/tweet_img_03.jpg" /></a>
                                                                <a href="#"><img src="images/subscription_img_03.jpg" /></a>
                                                                <a href="#"><img src="images/sc_img_03.jpg" /></a>
                                                            </div>
                                                            <p>&copy; All rights reserved. Dhuha International School</p>
                                                            <span>Crafted @ Dtech Systems</span>
                                                        </div>
                                                    </div>
                                                </article>
                                            </section>
                                            </div>


                                            <!-- Grab Google CDN's jQuery, fall back to local if offline -->
                                            <!-- 2.0 for modern browsers, 1.10 for .oldie -->
                                            <script>
                                                var oldieCheck = Boolean(document.getElementsByTagName('html')[0].className.match(/\soldie\s/g));
                                                if (!oldieCheck) {
                                                    document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"><\/script>');
                                                } else {
                                                    document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"><\/script>');
                                                }
                                            </script>
                                            <script>
                                                if (!window.jQuery) {
                                                    if (!oldieCheck) {
                                                        document.write('<script src="js/libs/jquery-2.0.2.min.js"><\/script>');
                                                    } else {
                                                        document.write('<script src="js/libs/jquery-1.10.1.min.js"><\/script>');
                                                    }
                                                }


                                                ;
                                            </script>

                                            <!--
                                            Include gumby.js followed by UI modules.
                                            Or concatenate and minify into a single file
                                            <script src="js/libs/gumby.js"></script>
                                            <script src="js/libs/ui/gumby.retina.js"></script>
                                            <script src="js/libs/ui/gumby.fixed.js"></script>
                                            <script src="js/libs/ui/gumby.skiplink.js"></script>
                                            <script src="js/libs/ui/gumby.toggleswitch.js"></script>
                                            <script src="js/libs/ui/gumby.checkbox.js"></script>
                                            <script src="js/libs/ui/gumby.radiobtn.js"></script>
                                            <script src="js/libs/ui/gumby.tabs.js"></script>
                                            <script src="js/libs/ui/gumby.navbar.js"></script>
                                            <script src="js/libs/ui/gumby.fittext.js"></script>
                                            <script src="js/libs/ui/jquery.validation.js"></script>
                                            <script src="js/libs/gumby.init.js"></script>-->

                                            <script src="js/libs/gumby.min.js"></script>
                                            <script src="js/plugins.js"></script>
                                            <script src="js/main.js"></script>

                                            <!-- Change UA-XXXXX-X to be your site's ID -->
                                            <!--<script>
                                            window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
                                            Modernizr.load({
                                              load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
                                            });
                                            </script>-->

                                            <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
                                               chromium.org/developers/how-tos/chrome-frame-getting-started -->
                                            <!--[if lt IE 7 ]>
                                            <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
                                            <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
                                            <![endif]-->

                                            <!--[if IE]>
                                                        <link rel="stylesheet" type="text/css" href="css/ie-only.css" />
                                                <![endif]-->
                                            <script src="js/jquery.jcarousel.min.js"></script>
                                            <script>
                                                    jQuery(document).ready(function() {
                                                        jQuery('.filter_list').jcarousel({visible: 5});
                                                    })
                                            </script>
                                        </body>
                                        </html>